---
import { getTags, getPosts, filterByTag } from '../../helpers/posts';
import Layout from '../../layouts/Layout.astro';
import PostsList from "../../components/PostsList.astro";
import TagsList from "../../components/TagsList.astro";

export const getStaticPaths = async () => {
    const posts = await getPosts({draft: false});
    
    const tags = await getTags()
    return tags.map(entry => ({
            params: {slug: entry.toLowerCase()}, 
            props: posts,
    }));
};

const {slug} = Astro.params;
let posts = Astro.props;
posts = filterByTag(posts, slug);

---

<Layout title="Tag">
    <TagsList active={slug} />

    <h1 class="mb-12 capitalize text-4xl">{slug}</h1>
    <PostsList posts={posts} />

</Layout>