---
import { getPosts } from '../../helpers/posts';
import Layout from '../../layouts/Layout.astro';

export const getStaticPaths = async () => {
    const posts = await getPosts({draft: false});
    return posts.map(entry => ({
        params: {slug: entry.slug}, props: {entry}
    }));
};

const {entry} = Astro.props;
console.log(JSON.stringify(entry, null, 2));
---

<Layout title="Tag">
    <h1>Tag</h1>
</Layout>