---
import PostsList from '../../components/PostsList.astro';
import { getPosts } from "../../helpers/posts";
import Layout from "../../layouts/Layout.astro";

const allPosts = await getPosts(true);

---

<Layout title="Blog">
    <h1>Blog</h1>
    <PostsList posts={allPosts} />
</Layout>