---
import {ArrowRight} from "@phosphor-icons/react";
---

<div class="p-12 lg:p-40 space-y-6 bg-slate-700/75 rounded-2xl mb-16">
  <h1 class="text-xl lg:text-3xl">Hi ! I'm <span
    class="text-primary block md:inline text-2xl lg:text-3xl"
  >Glorieux Lukama</span></h1>
  <div class="w-full lg:max-w-lg">
    <p class="text-xl lg:text-2xl mb-4">I'm a web developer</p> 
    <p class="text-md lg:text-lg text-stone-300">On this blog, I decided to keep notes for fascinating things
    I learn in my daily life as a programer. <br /> Hope you'll also enjoy !</p>
  </div>
  <nav class="flex flex-col md:flex-row space-y-2 md:space-x-8 md:space-y-0 pt-4">
    <a href="/blog" class="group btn btn-solid-primary">
      <span class="mr-2">Check the blog</span>
      <span class="hidden group-hover:inline-flex"><ArrowRight /></span>
    </a>
    <a href="/blog" class="group btn btn-outline-primary">
      <span class="mr-2">About me</span>
      <span class="hidden group-hover:inline-flex"><ArrowRight /></span>
    </a>
  </nav>
</div>
